* {
    font-family: Roboto;
    font-weight: bold;
    color: white;
    background-color: #1B2837;
    user-select: none;
}
.circle {
    border: 25px solid #EE6677;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.cross {
    width: 120px;
    height: 120px;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
  }
  
.cross::before, .cross::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(85, 180, 81);
    height: 25px;
    width: 120px;
    transform: translate(-50%, -50%);
  }
  
.cross::before {
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 20px;
}
  
.cross::after {
    transform: translate(-50%, -50%) rotate(-45deg);
    border-radius: 20px;
}
.gameBox {
    width: 1400px;
    height: 800px;
    background-color: #101B27;
    margin: auto;
    display: flex;
    border: 3px solid rgb(113, 223, 80);
    border-radius: 10px;
}
.gameBoard {
    background-color: #6B7885;
    margin: auto;
    display: flex;
    width: 580px;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}
.gameBoard button {
    width: 180px;
    height: 180px;
    border: none;
    padding: 0;
    margin: 0;
    background-color: #101B27;
    display: flex;
    justify-content: center;
    align-items: center;
}
.players {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    gap: 5px;
}
.temp {
    display: none;
}
.player, .bot {
    width: 90%; 
    max-width: 450px; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    font-size: 22px;
}
.playerName, .botName {
    height: 30px;
    width: 150px;
    text-align: center;
}
.playerStats, .botStats {
    margin: 0;
}
.playerIcon, .botIcon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #18BC9C;
    
}
.botTimer, .playerTimer {
    text-align: center;
    background-color: #18BC9C;
}
.playerScore, .botScore {
    font-size: 27px;
    font-weight: bold;
}
.gameBoard button .cross {
    background-color: #101B27;
    display: none;
}
.gameBoard button:hover .cross{
    display: block;
}
.startGame {
    position: relative;
    margin: 0;
    border: none;
    background-color: rgb(113, 223, 80);
    color: rgb(14, 10, 31);
    font-size: 40px;
    border-radius: 10px;
    margin-top: 10px;
}
.startGame_hover:hover {
    background-color: rgb(14, 10, 31);
    color: rgb(113, 223, 80);
}
.startGame_active:active {
    border: 7px solid rgb(113, 223, 80);
}
.btn-1,
.btn-2,
.btn-3,
.btn-4,
.btn-5,
.btn-6,
.btn-7,
.btn-8,
.btn-9 {
    font-size: 100px;
    background: none;
}
.reset {
    position: absolute;
    background-color: white;
    width: 500px;
    height: 300px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: rgb(113, 223, 80);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#whoWon, #resetBtn {
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgb(14, 10, 31);
    background-color: rgb(113, 223, 80);
}
#whoWon {
    font-size: 70px;
    text-decoration: underline;
}
#resetBtn {
    font-size: 40px;
    border: none;
    width: 400px;
    border-radius: 10px;
    border: 5px solid rgb(14, 10, 31);
}
#resetBtn:hover {
    color: rgb(113, 223, 80);
    background-color: rgb(14, 10, 31);
}
#resetBtn:active {
    border: 7px solid rgb(113, 223, 80);
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin: 10px;
  }
 
.toggle-switch .toggle-input {
  display: none;
}

.toggle-switch .toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 24px;
  background-color:rgb(16, 27, 39);
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-switch .toggle-label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.toggle-switch .toggle-input:checked + .toggle-label {
  background-color: rgb(113, 223, 80);
}

.toggle-switch .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}

.toggle-switch.light .toggle-label {
  background-color: #BEBEBE;
}

.toggle-switch.light .toggle-input:checked + .toggle-label {
  background-color: #9B9B9B;
}

.toggle-switch.light .toggle-input:checked + .toggle-label::before {
  transform: translateX(6px);
}

.toggle-switch.dark .toggle-label {
  background-color: #4B4B4B;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label {
  background-color: #717171;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}
.sideBar{
    background-color: rgb(27, 40, 55);
    width: 350px;
    position: absolute;
    top: 0;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    top: 150px;
    border: 3px solid rgb(113, 223, 80);
    border-radius: 10px;
    gap: 10px;
}
input {
    display: none;
}
.toggleText{
    font-size: 20px;
}
.botSwitch {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 0;
}
.timerSelectors{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.timerSelectors button{
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin: 0;
    background-color: rgb(16, 27, 39);
}
@media screen and (max-width: 768px) {
    .sideBar{
        position: relative;
        margin: auto;
    }
    .gameBox{
        width: 700px;
        height: 400px;
    }
    .gameBoard{
        width: 290px;
        row-gap: 10px;
    }
    .gameBoard button{
        width: 90px;
        height: 90px;
    }
    .player, .bot{
        font-size: 14px;
        gap: 7px;
    }
    .bot {
        justify-content: start;
    }
    .player {
        justify-content: end;
    }
    .circle{
        width: 25px;
        height: 25px;
        border: 12px solid #EE6677;
    }
    .cross{
        width: 40px;
    }
    .cross::before {
        transform: translate(-50%, -50%) rotate(45deg);
        border-radius: 20px;
    }
      
    .cross::after {
        transform: translate(-50%, -50%) rotate(-45deg);
        border-radius: 20px;
    }
    .cross::after, .cross::before{
        width: 60px;
        height: 17px;
    }
    .players img{
        width: 70px;
        height: 70px;
    }
    .botScore, .playerScore{
        font-size: 20px;
    }
}
